<html lang="en">
{% load static %}

<head>
<meta charset="utf-8">
<title>Edukate</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<!-- ================= TOPBAR ================= -->
<div class="container-fluid bg-dark">
<div class="row py-2 px-lg-5">

<div class="col-lg-6 text-white">
<small><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</small>
</div>

<div class="col-lg-6 text-right text-white">
<i class="fab fa-facebook-f px-2"></i>
<i class="fab fa-twitter px-2"></i>
<i class="fab fa-instagram px-2"></i>
</div>

</div>
</div>


<!-- ================= NAVBAR ================= -->
<div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand ml-lg-3">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>Edukat</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="/index" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link active">About</a>
                    <a href="/course" class="nav-item nav-link">Courses</a>
                    <div class="nav-item dropdown">
                        
                    </div>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
                {% if user.is_authenticated %}
                <a href="{% url 'app:logout' %}" class="btn btn-danger">Logout</a>
                {% else %}
                <a href="{% url 'app:signup' %}" class="btn btn-primary mr-3">Sign up</a>
                <a href="{% url 'app:login' %}" class="btn btn-success">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>


<!-- ================= HEADER ================= -->




{% load static %}

<div class="container py-5">

<h1 class="mb-5">Shopping Cart</h1>

<div class="row">

<!-- LEFT SIDE -->
<div class="col-lg-8">

<h5>{{ courses|length }} Course in Cart</h5>
<hr>

{% for course in courses %}

<div class="cart-item d-flex mb-4">

<img src="{{ course.image.url }}" width="120">

<div class="ml-3 flex-grow-1">

<h5>{{ course.name }}</h5>

<p>Instructor</p>

<span class="badge badge-success">Bestseller</span>

</div>

<div class="text-right">

<h5>₹{{ course.price }}</h5>

<a href="{% url 'app:remove_from_cart' course.id %}" 
   class="text-danger font-weight-bold">
    Remove
</a>

</div>

</div>

<hr>

{% endfor %}

</div>


<!-- RIGHT SIDE -->
<div class="col-lg-4">

<div class="cart-summary">

<h5>Total:</h5>

<h2>₹{{ total }}</h2>

<button class="checkout-btn">
Proceed to Checkout →
</button>

</div>

</div>

</div>

</div>



    <!-- Footer Start -->
   <div class="container-fluid position-relative bg-dark text-white-50 py-3" style="margin-top: 30px;">
    <div class="container-fluid px-5 mt-3 pt-3">
        <div class="row">

            <!-- Logo + About -->
            <div class="col-md-4 mb-5 pr-2">
                <a href="index.html" class="navbar-brand d-flex align-items-center">
                    <img src="{% static 'img/footer-logo.jpeg' %}" 
                        alt="Logo" 
                        style="width:80px; height:auto; margin-right:8px;">
                    <h1 class="m-0 text-uppercase text-primary">Sabke Sir</h1>
                </a>
                <p class="mt-1">
                    Sabke Sir Coaching Institute is an online learning platform where students can attend live classes and also watch recorded lectures. Students can purchase courses here and learn from expert teachers.
                </p>
            </div>


            <!-- Get In Touch -->
            <div class="col-md-3 mb-2">
                <h3 class="text-white mb-4">Get In Touch</h3>
                <p><i class="fa fa-map-marker-alt mr-2"></i> Rajeev Nagar, Vidisha, Madhya Pradesh 464001, India</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+918962289226</p>
                <p><i class="fa fa-envelope mr-2"></i>sabkesirsatendrasir@gmail.com</p>
            </div>

            <!-- Our Courses -->
            <div class="col-md-2 mb-3">
                <h3 class="text-white mb-4">Our Courses</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#">Web Design</a>
                    <a class="text-white-50 mb-2" href="#">Apps Design</a>
                    <a class="text-white-50 mb-2" href="#">Marketing</a>
                    <a class="text-white-50 mb-2" href="#">Research</a>
                    <a class="text-white-50" href="#">SEO</a>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="col-md-2 mb-3">
                <h3 class="text-white mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#">Privacy Policy</a>
                    <a class="text-white-50 mb-2" href="#">Terms & Condition</a>
                    <a class="text-white-50 mb-2" href="#">Regular FAQs</a>
                    <a class="text-white-50 mb-2" href="#">Help & Support</a>
                    <a class="text-white-50" href="#">Contact</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid bg-dark text-white-50 border-top py-2">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                &copy; 2026 Sabke Sir. All Rights Reserved.
            </div>
        </div>
    </div>
</div>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js '%}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

